<%= render "shared/header"%>
<%=image_tag 'main-image.png', class:'background-image'%>
<div class="answers-main">
  <div class="request-content">
    <div class="request-nickname">
      質問者:
      <%= @request.user.nickname %>
    </div>
    <div class="request-text">
      <%= @request.text %>
    </div>
  </div>      
  <div class="answers">
    <h2 class="requests-form-title">回答を入力</h2>
    <div class="form"> 
      <%= form_with model: [@request, @answer], class:"answers-form", id:"answers_form", local:true do |f| %>
        <%= render "shared/error_messages", model: f.object, resource: @answer %>
        <div class="weight-bold-text">画像</div>
        <div class="image-field">
          <div id="previews"></div>
          <%= f.file_field :image, id:"item-image"%>
        </div>
        <div class="weight-bold-text">本文</div>
        <div class="field">
          <%= f.text_area :text, class:"text-form", id:"answers-text" %>
        </div>
        <div class="action">
          <div class="post-btn">
          <%= f.submit "SEND", class:"post-btn"%>
        </div>
      <% end %>
    </div>  
  </div>
</div>